fastapi==0.135.2
SQLAlchemy==2.0.48
dependency-injector==4.49.0
pytest==9.0.2
uvicorn==0.42.0
httpx==0.28.1
Faker==40.11.1
alembic==1.18.4
psycopg2-binary==2.9.11
python-dotenv==1.2.2
ruff==0.15.8
typer==0.24.1
